<?xml version="1.0"?>


<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_payment_save_before">
        <observer name="iib_easypaisa_payments_before_save_quote_payment" instance="Iib\EasyPaisa\Observer\SalesQuotePaymentBeforeSavedObserver"/>
    </event>
    <event name="sales_order_payment_save_before">
        <observer name="iib_easypaisa_payments_before_save_order_payment" instance="Iib\EasyPaisa\Observer\SalesOrderPaymentBeforeSavedObserver"/>
    </event>
</config>
