<?xml version="1.0"?>
<!--
/**
 *
 * SM CartQuickPro - Version 1.5.0
 * Copyright (c) 2017 YouTech Company. All Rights Reserved.
 * @license - Copyrighted Commercial Software
 * Author: YouTech Company
 * Websites: http://www.magentech.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Framework\View\Result\Page">      
		<plugin name="sm-cartquickpro-resultpage" type="Sm\CartQuickPro\Plugin\ResultPage" sortOrder="1"/>
	</type>
</config>
