 #price-slider {
        background-color: #ddd;
        border-radius: 3px;
        height: 6px;
        margin: 10px 0;
        position: relative;
    }

    #price-slider .ui-slider-range {
        background-color: #999;
        height: 100%;
        position: absolute;
    }

    #price-slider .ui-slider-handle {
        background: #fff none repeat scroll 0 0;
        border: 1px solid #ddd;
        border-radius: 50%;
        cursor: e-resize;
        display: block;
        height: 15px;
        margin-right: inherit;
        padding-left: inherit;
        padding-right: inherit;
        position: absolute;
        text-align: center;
        top: -5px;
        width: 15px;
        z-index: 15;
    }

    .price-slider-values {
        margin-top: 20px;
        text-align: center;
    }

    .price-slider-values input[type="text"] {
        border: 1px solid #d8d8d8;
        color: #211e1f;
        padding-left: 2px;
        padding-right: 2px;
        text-align: center;
        width: 50px;
    }

    .loading-mask-shopby {
        background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
        bottom: 0;
        left: 0;
        margin: auto;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 9999;
    }

    .loading-mask-shopby .loader > img {
        bottom: 0;
        left: 0;
        margin: auto;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 100;
    }